@page "/inventories"

@inject NavigationManager NavigationManager
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
<h3>InventoryList</h3>
<br/>
<ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>
@if(ListInventories != null)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quatity</th>
                <th>Price</th>
                <th>Nase</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inv in this.ListInventories)
            {
                <tr>
                    <td>@inv.InventoryName</td>
                    <td>@inv.Quantity</td>
                    <td>@inv.Price.ToString("c")</td>
                    <td><buton class="btn btn-primary" type="button">Edit</buton></td>
                </tr>
            }
        </tbody>
    </table>
}
<br/>
<button type="button" class="btn btn-primary" @onclick="AddInventory">Add Inventory</button>

@code {
    private List<Inventory>? ListInventories;

    protected override async Task OnInitializedAsync()
    {
        var invs=await ViewInventoriesByNameUseCase.ExecuteAsync();
        this.ListInventories = invs.ToList();
    }


    private void OnSearchInventories(List<Inventory> inventories)
    {
        ListInventories = inventories;
    }
    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }

}
